<!DOCTYPE html>
<html ng-app="thoughtsApp">

    <head>
        <title>Thoughts</title>
    </head>

    <body>
        <h1>Thoughts</h1>
        <section ng-controller="ThoughtController">

            <form ng-submit="addThought()">

                <label for="thought-input">What were you thinking?!</label>

                <input id="thought-input" ng-model="thought">

            </form>

            <table>

                <tr ng-repeat="aThought in thoughts | orderBy:'toString()':false">

                    <td>{{aThought}}</td>

                </tr>

            </table>

        </section>

        <script src="/javascripts/lib/angular.min.js"></script>
        <script src="/javascripts/app/thoughts-app.js"></script>
        <script src="/javascripts/app/controllers/thought-controllers.js"></script>
        <script src="/javascripts/app/services/thought-providers.js"></script>
    </body>
</html>